<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Face Recognition System</title>
</head>
<body>
    <div class="form-container">
        <h2>Face Recognition</h2>
        
        <form action="/query_form" method="POST" enctype="multipart/form-data">
            <label for="query_input">Query Input:</label>
            <input type="text" id="text_input" name="text_input" placeholder ="Enter your query"><br><br>

            <label for="image_input">Image Input:</label>
            <input type="file" id="image_input" name="image_input" accept="image/*"><br><br>

            <button type="submit">Find</button>
        </form>
    </div>
</body>
</html>
